:root {
  color-scheme: light;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  line-height: 1.4;
  font-size: 16px;
  background: #f9fafb;
}

body {
  margin: 0;
  min-height: 100vh;
}

main.container {
  margin: 0 auto;
  max-width: 720px;
  padding: 4rem 1.5rem;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

p {
  margin-bottom: 1rem;
}
